body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    align-items: center;
    display: flex;
    margin: 0 0 0 auto;
}

.contact{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

.contact-a{
    text-decoration: none;
}

.icons{
    height: 55px;
    padding: 10px;
    width: 55px;
}
.parallax-a{
    background-attachment: fixed;
    background-image: url('images/');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.parallax-b{
    background-attachment: fixed;
    background-image: url('images/plaxbg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.parallax-c{
    background-attachment: fixed;
    background-image: url('images/mj2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.text{
    padding: 150px;
    text-align: center;
}

@media (min-width: 600px) {

}